<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dzh">

    <!-- 通信 + 服务权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 存储兼容权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <!-- ✅ 前台服务基本权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- ✅ 指定服务类型 mediaPlayback（适用于我们）-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.LANFileShare">

        <activity android:name="com.dzh.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".lanfileshare.LogActivity" />
        <activity android:name=".lanfileshare.LanFileShareActivity" />
        <activity android:name=".game_2048.Game2048Activity" />

        <!-- ✅ 启动 Http 服务，声明前台服务类型 -->
        <service
            android:name=".lanfileshare.HttpService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>
</manifest>